<h3 id="informacoes">Quem somos</h3>
<p id="informacoes" style="font-size:120%">
    Sua banda precisa de um integrante substituto? Ou um novo integrante permanente? 
    Ou você é um musico que procura uma banda para tocar ou outro músico com quem possa fazer uma dupla
    por exemplo ou até mesmo pessoas para montarem sua própia banda?
    <br/>
    Se a resposta foi sim para uma das perguntas acima, você chegou no lugar certo!
    O Show Must Go On chegou para ajudar os músicos e as pessoas que pretendem começar sua carreira musical, 
    aqui você encontra músicos, bandas, cria contatos e parcerias que vão ajudar a alavancar sua carreira!
    Está a procura daquele guitarrista talentoso que sua banda precisa para chegar ao topo? Aqui você o encontrará!
    <br/>
    Crie sua conta e encontre já quem você procura, porque o show tem que continuar!
</p>