
			<div class="row">
				<div class="col-md-6">
					<h3 id="crieSuaConta">Crie sua conta</h3>
					<form role="form" name="criarContatoForm">
						
						<div class="form-group">
							<input type="text" name="nome" placeholder="Nome" class="form-control" id="nome"></input>
						</div>
						<div class="form-group">
							<input type="text" name="sobrenome" placeholder="Sobrenome" class="form-control" id="sobrenome"></input>
						</div>
						<div class="form-group">
							<input type="email" name="email" placeholder="Email" class="form-control" id="email"></input>
						</div>
						<div class="form-group">
							<input type="password" name="senha" placeholder="Senha" class="form-control" id="senha"></input>
						</div>
						<div class="form-group">
							<input type="password" name="repetirSenha" placeholder="Repetir senha" class="form-control" id="repetirSenha"></input>
						</div>
						<div class="form-group">
							<input type="text" name="cidade" placeholder="Cidade" class="form-control" id="cidade"></input>
						</div>
						<div class="form-group">
							<input type="date" name="nascimento" placeholder="Data de nascimento" class="form-control" id="nascimento">
						</div>
						<div class="form-group">
							<input type="radio" name="genero" value="male" checked id="genero"> Male<br>
						</div>
						
						<div class="row">
							<a type="button" class="btn btn-primary" href="#/">Criar Conta</a>
						</div>
						
					</form>
				</div>
				
				<div class="col-md-6">	
					<h3 id="facaLogin">Faça seu login</h3>
					<form role="form" name="fazerLoginForm">
						
						<div class="form-group">
							<input type="email" name="email" placeholder="Email" class="form-control" id="email"></input>
						</div>
						<div class="form-group">
							<input type="text" name="nome" placeholder="Nome" class="form-control" id="nome"></input>
						</div>
					
						<div class="row">
							<a type="button" class="btn btn-primary" id="login">Logar</a>
						</div>
					
					</form>
				</div>
				
			</div>